node_modules
src/**/*.d.ts
coverage
docs/_site
docs/.sass-cache
docs/.jekyll-cache
docs/.jekyll-metadata
docs/vendor
docs/node_modules
docs/**/*.d.ts
speedtests/old
speedtests/run.js
docs/.vitepress/dist
docs/.vitepress/cache

# stryker temp files
.stryker-tmp
